<ion-view view-title="Browse">
  <ion-content>
   <section class="contentwrap_Home" style="position:relative; ">
    <div class="homeTabs"> 
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#Events" aria-controls="home" role="tab" data-toggle="tab">Events</a></li>
        <li role="presentation"><a href="#Venues" aria-controls="profile" role="tab" data-toggle="tab">Venues</a></li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="Events">
          <div class="eventGroup">
            <div class="eventDetpane">
              <div class="eventTitle">
                <h1>Holy Holy</h1>
                <h4>Apr 25, 2016, 9:00PM</h4>
              </div>
              <div class="eventsdis"><img src="images/icon_map.png" alt=""><span>15 Mile</span></div>
            </div>
            <div class="eventImg">
              <div class="featuredtag"><img src="images/featured.png" alt=""></div>
              <img src="images/evetimg-1.png" alt=""> </div>
            <div class="evemsglikes">
              <div class="eventMsg"><img src="images/icon_message.png" alt=""><span>100</span></div>
              <div class="eventLikes"><img src="images/icon_like.png" alt=""><span>100</span></div>
            </div>
          </div>
          <div class="eventGroup">
            <div class="eventDetpane">
              <div class="eventTitle">
                <h1>Holy Holy</h1>
                <h4>Apr 25, 2016, 9:00PM</h4>
              </div>
              <div class="eventsdis"><img src="images/icon_map.png" alt=""><span>15 Mile</span></div>
            </div>
            <div class="eventImg">
              <div class="featuredtag"><img src="images/featured.png" alt=""></div>
              <img src="images/evetimg-1.png" alt=""> </div>
            <div class="evemsglikes">
              <div class="eventMsg"><img src="images/icon_message.png" alt=""><span>100</span></div>
              <div class="eventLikes"><img src="images/icon_like.png" alt=""><span>100</span></div>
            </div>
          </div>
          <div class="eventGroup">
            <div class="eventDetpane">
              <div class="eventTitle">
                <h1>Holy Holy</h1>
                <h4>Apr 25, 2016, 9:00PM</h4>
              </div>
              <div class="eventsdis"><img src="images/icon_map.png" alt=""><span>15 Mile</span></div>
            </div>
            <div class="eventImg">
              <div class="featuredtag"><img src="images/featured.png" alt=""></div>
              <img src="images/evetimg-1.png" alt=""> </div>
            <div class="evemsglikes">
              <div class="eventMsg"><img src="images/icon_message.png" alt=""><span>100</span></div>
              <div class="eventLikes"><img src="images/icon_like.png" alt=""><span>100</span></div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="Venues">.Venues</div>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <ul class="filterData">
    <li style="display:none;">
      <div class="shortlist">
        <div class="latest"><a  href="#-">Latest</a></div>
        <div class="rec"><a  href="#-">Recommended</a></div>
        <div class="top"><a  href="#-">Top&nbsp;Rated</a></div>
      </div>
    </li>
    <li style="display:none;">
      <div class="filterDatap">
        <div class="ftDdm">
          <select>
            <option>Venue Type</option>
          </select>
          <select>
            <option>Event Type</option>
          </select>
        </div>
        <div class="ftdistance">
          <h2>Distsnce</h2>
          <div class="ftDistanceslider">
            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="10"/>
          </div>
          <div class="ftdisMt">
            <div class="ftDst">0 M</div>
            <div class="ftDet">20 M</div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  </ion-content>
</ion-view>
